*, *::before, *::after { box-sizing: border-box; }

:root
{
    --main-color: #0e89c2;
    --light-blue: #52b5e4;
    --white: rgba(255, 255, 255);
}

html
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: #555;
}

.main-nav
{
    background-color: var(--main-color);
    padding: 2.5rem 5rem 2.5rem 5rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.main-ul
{
    display: flex;
    padding: 0;
    gap: 5rem;
    margin: 0;
    ;
}

.main-li
{
    display: inline-block;
    list-style: none;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

h1
{
    margin: 0;
}

h2
{
    margin-right: 1ch;
    font-weight: normal;
}

span
{
    font-size: 1rem;
}

.calendar-button
{
    background-color: var(--main-color);
}

#calendar 
{
    position: fixed;
    bottom: -36.25%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    height: 50rem;
    width: 36rem;
    font-size: 70%;
    background-color: #fff;
    z-index: 20;
    border: 1px solid black;
    border-radius: .5rem;
    /* pointer-events: none; */
}

#calendar.active
{
    transform: translate(-50%, -50%) scale(1);
    pointer-events: all;
}

.month
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 2rem;

}

.calendar-header
{
    width: 100%;
    padding: 1rem;
    background-color: var(--main-color);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
} 

.calendar-header div
{
    margin-left: 3rem;

}

.month2
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 3.2rem;
}

.date2
{
    display: flex;
    align-items: center;
}

.weekdays 
{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 1rem;
}

.weekdays div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(34rem/7);
    padding: 1rem 2rem;
}

.days
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* margin-bottom: 5rem; */
    padding: .94rem;
} 

.days div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(34rem/7);
    padding: 2rem;
    border-radius: 50%;
}

.days div:hover 
{
    background-color: var(--light-blue);
}

.lastMonthdays, .nextMonthdays
{
   color: rgb(255, 255, 255, .5);
}

.buttons
{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    bottom: 0;
    right: 0;
}

.buttons div
{
    background-color: var(--white);
    margin: 1rem;
    padding: 1rem;
    border: none;
}

.content
{
    background-color: var(--white);
    min-width: 40rem;
    min-height: 40rem;
    padding: 3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: relative;
}

.entry-button
{
    position: absolute;
    height: 3rem;
    width: 3rem;
    right: 0;
    bottom: 0;
    margin: 5rem;
    border: 1px solid var(--light-blue);
    border-radius: .8rem;
    background-color: var(--light-blue);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
}

.list
{
    
    background-color: #fff;
}

.entry-menu
{
    position: fixed;
    bottom: -42%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
}

.entry-menu.active
{
    transform: translate(-50%, -50%) scale(1);
}

.entry-menu-header
{
    background-color: var(--main-color);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.entry-menu-header h1
{
    font-weight: normal;
}

.close-menu
{
    padding: 2rem;
}

.entry-menu-nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.entry-menu-li
{
    display: inline-block;
    list-style: none;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.entry-menu-content
{
    width: 40rem;
    min-height: 46rem;
    background-color: darkcyan;
    display: grid;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.food, .drink, .others
{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.entry-type
{
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    margin: 4rem;
}

.entry-buttons
{
    height: 3rem;
    width: 3rem;
    border: 1px solid;
    border-radius: .8rem;
    margin-bottom: .5rem;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
}

.entry-icons
{
    height: 1.75rem;
    width: 1.75rem;
}

#calendar-overlay
{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#calendar-overlay.active
{
    opacity: 1;
    pointer-events: all;
}

#entry-menu-overlay
{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#entry-menu-overlay.active
{
    opacity: 1;
    pointer-events: all;
}

#pen
{
    height: 1.75rem;
    width: 1.75rem;
}
   
#supplements
{
    width: 6rem;
}

.underline
{
    position: absolute;
    content: '';
    background-color: #000;
    height: .2rem;
    width: 2rem;
    top: 7.6rem;
    left: 7.4rem;
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
}



