*, *::before, *::after { box-sizing: border-box; }

:root
{
    --main-color: rgba(14, 137, 194);
    --light-blue: rgba(82, 181, 228);
    --white: rgba(255, 255, 255);
}

html
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: #555;
}

h1
{
    margin: 0;
}

h2
{
    margin-right: 1ch;
    font-weight: normal;
}

span
{
    font-size: 1rem;
}

label
{
    display: flex;
    align-items: center;
}

a
{
    text-decoration: none;
}

.calendar-button
{
    background-color: var(--main-color);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

#calendar 
{
    position: fixed;
    bottom: -36.25%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    height: 50rem;
    width: 36rem;
    font-size: 70%;
    background-color: #fff;
    z-index: 20;
    border: 1px solid black;
    border-radius: .5rem;
    pointer-events: none;
}

#calendar.active
{
    transform: translate(-50%, -50%) scale(1);
    pointer-events: all;
}

.month
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3rem 2rem;
}

.date p
{
    margin-bottom: 0;
}

.calendar-header
{
    width: 100%;
    padding: 1rem;
    background-color: var(--main-color);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
} 

.calendar-header div
{
    margin-left: 3rem;

}

.month2
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 3.2rem;
}

.date2
{
    display: flex;
    align-items: center;
}

.weekdays 
{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 1rem;
}

.weekdays div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(34rem/7);
    padding: 1rem 2rem;
}

.days
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* margin-bottom: 5rem; */
    padding: .94rem;
} 

.days div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(20rem/7);
    padding: 1rem;
    margin: 1rem;
    border-radius: 50%;
}

.selected
{
    background-color: var(--main-color);
    color: var(--white);
}

.date-clicked
{
    background-color: var(--main-color);
}

.days div:hover 
{
    background-color: var(--light-blue);
}

.lastMonthdays, .nextMonthdays
{
   color: rgb(255, 255, 255, .5);
}

.buttons
{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    bottom: 0;
    right: 0;
}

.buttons div
{
    display: none;
    background-color: var(--white);
    margin: 1rem;
    padding: 1rem;
    border: none;
}

.clock
{
    position: fixed;
    bottom: -11%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 20;
}

.clock.active
{
    transform: translate(-50%, -50%) scale(1);
}

.clock-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--main-color);
}

.clock-header h1  
{
    display: flex;
}

.clock-header h1 div
{
    opacity: .5;
}

.clock-header p 
{
    opacity: .5;
    margin: .5rem;
}

.clock-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 30rem;
    background-color: darkcyan;
}

.analog
{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: #ccc;
    position: relative;
}

.dial-selector
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 100%;
} 

.fulcrum
{
    position: absolute;
    content: '';
    height: .7rem;
    width: .7rem;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: 5;
}

.hr-arm
{
    --arm-rotation: 0;
    position: absolute;
    content: '';
    width: .3rem;
    height: 10rem;
    bottom: 50%;
    transform-origin: bottom;
    transform: rotate(calc(30deg * var(--arm-rotation)));
    background-color: var(--main-color);
} 

.min-arm
{
    --arm-rotation: 0;
    position: absolute;
    content: '';
    width: .3rem;
    height: 10rem;
    bottom: 50%;
    transform-origin: bottom;
    transform: rotate(calc(6deg * var(--arm-rotation)));
    background-color: var(--main-color);
} 

.hours div
{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: .8rem;
    transform: rotate(calc(30deg * var(--rotation)));
    pointer-events: none;
}

.hours b
{
    --Reverse-rotation: 0;
    display: inline-block;
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transform: rotate(calc(-30deg * var(--Reverse-rotation)));
    pointer-events: all;
}

.minutes div
{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: .8rem;
    transform: rotate(calc(6deg * var(--rotation)));
    pointer-events: none;
} 

.minutes b
{
    --Reverse-rotation: 0;
    display: inline-block;
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    z-index: 10;
    transform: rotate(calc(-6deg * var(--Reverse-rotation)));
    pointer-events: all;
} 

.tics 
{
    color: transparent;
} 

/* .hours b:hover, .minutes b:hover
{
    z-index: -10;
    color: var(--white);
    background-color: var(--light-blue);
}  */

.descriptions
{
    position: fixed;
    left: 50%;
    bottom: -42%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 20;
}

.descriptions.active 
{
    transform: translate(-50%, -50%) scale(1);
}

.description-header
{
    width: 40rem;
    /* padding: 2rem; */
    background-color: var(--main-color);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.description-content
{
    width: 40rem;
    height: 47.5rem;
    background-color: #fff;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


.content
{
    background-color: var(--white);
    min-width: 40rem;
    min-height: 40rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: relative;
}

.entry
{
    display: flex;
    place-items: center;
    width: 100%;
    height: 5rem;
}

.entry-main
{
    display: flex;
    place-items: center;
    position: relative;
    padding: 1rem;
    
}

.type-of-entry
{
    display: flex;
    place-items: center;
}

.type-of-entry .entry-buttons
{
    margin: 0;
}


.entry-time
{
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
}

.entry-button
{
    position: absolute;
    height: 3rem;
    width: 3rem;
    right: 0;
    bottom: 0;
    margin: 5rem;
    border: 1px solid var(--light-blue);
    border-radius: .8rem;
    background-color: var(--light-blue);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
}

.list
{
    
    background-color: #fff;
}

.entry-menu
{
    position: fixed;
    bottom: -41%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
}

.entry-menu.active
{
    transform: translate(-50%, -50%) scale(1);
}

.entry-menu-header
{
    background-color: var(--main-color);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.entry-menu-header h1
{
    font-weight: normal;
}

.close-menu, .close-description-menu
{
    padding: 2rem;
}

.entry-menu-nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.entry-menu-li
{
    display: inline-block;
    list-style: none;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.entry-menu-content
{
    width: 40rem;
    min-height: 25rem;
    background-color: darkcyan;
    display: grid;
    justify-content: center;
    align-items: center;
}

.food, .drink, .others
{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.underline
{
    position: absolute;
    content: '';
    background-color: #000;
    height: .2rem;
    width: 2rem;
    top: 7.6rem;
    left: 7.4rem;
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
}

.entry-type
{
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    gap: .5rem;
    margin: 2rem;
    pointer-events: none;
}

.entry-buttons
{
    height: 3rem;
    width: 3rem;
    border: 1px solid;
    border-radius: .8rem;
    margin-bottom: .5rem;
    border-color: gray;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    pointer-events: all;
}

.entry-icons
{
    height: 1.75rem;
    width: 1.75rem;
    pointer-events: none;
}

.lower-entry-menu-background
{
    height: 20rem;
    background-color: darkcyan;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.lower-entry-menu
{
    display: none;
    box-shadow: 0 -10px 5px -5px rgba(0, 0, 0, .4);
}

.lower-entry-menu-header
{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 2rem;
    padding-bottom: 0; 
    position: relative;  
}

.entry-type-selected
{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.entry-name-selected, .entry-details
{
    margin-left: 1rem;
}

.entry-type-icon
{
    height: 3rem;
    width: 3rem;
    border: 1px solid;
    border-radius: .8rem;
    margin-right: .5rem;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
}

.save
{
    position: absolute;
    right: 0;
    height: 2rem;
    padding: .5rem 1.5rem;
    margin-right: 2rem;
    border: 1px solid;
    border-radius: .5rem;
}

.input-content
{
    height: 15rem;
    padding: 2rem;
}

.input-section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.inputs 
{
    width: 12rem;
}

.description-input
{
    border: none;
    margin-left: 2rem;
    background-color: darkcyan;
}

.lower-entry-menu-icons
{
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
}

.selected-time
{
    display: flex;
    margin-left: 2rem;
    opacity: .5;
}

.selected-date
{
    margin-left: 2rem;
    opacity: .5;
}

#calendar-overlay
{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#calendar-overlay.active
{
    opacity: 1;
    pointer-events: all;
}

#clock-overlay
{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#clock-overlay.active
{
    opacity: 1;
    pointer-events: all;
}

#description-menu-overlay
{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    pointer-events: none;
}

#description-menu-overlay.active
{
    opacity: 1;
    pointer-events: all;
}

#entry-menu-overlay
{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

#entry-menu-overlay.active
{
    opacity: 1;
    pointer-events: all;
}

#pen
{
    height: 1.75rem;
    width: 1.75rem;
}
   
#supplements
{
    width: 6rem;
}

#check
{
    height: .5rem;
    width: .5rem;
}





